// =================
// TYPOGRAPHY
// =================

$body-font: "Oswald", sans-serif;
$main-font-size: 10px;

// =================
// COLORS
// =================

$black: #080808;
$brown: #640303;
$board: #fafaf8;
$dark-purple: #5e3577;
$light-blue: #d2eaf5;
$purple: #b02f7c;
$orange: #fa811d;
$red: #f50c2b;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: #5a6dba;
$bg-board: #cde6d1;
$dark: #1f2937;

// Dégradé de orange vers rose
$orange-gradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);



// =================
// Cells size    
// =================
$cell-size: 80px;